@import url("bootstrap.css");


.header{
	min-height: 100px;
}

.logo{
	color: #fff;
	font-size: 5em;
	text-align:left;
}
.logo a{
	/*vertical-align: baseline*/
}

.frontcontainer{
	color: #fff;
	 background-color: #592759;
}

.frontcontainer a{
	color: #fff;
}

.frontcontainer a:hover{
	color: #f8d547;
	text-decoration: none;
}

.loginform {
/*	color: #592759;
	background-color: #fff;*/
	text-align:center;
	border: 2px solid #fff;
	border-radius: 3px;
	padding-bottom: 15px
}

.logininput {
	color: #592759
}

.homecontainer{
	color: #fff;
	background-color: #592759;
}

.homecontainer a{
	color: #fff;
}

.homecontainer a:hover{
	color: #f8d547;
	text-decoration:none;
}

.listcontainer{
	color: #fff;
	background-color: #006666;
	height:100%;
	padding-top: 10px;
}

.listcontainer a{
	color: #fff;
}

.listcontainer a:hover{
	color: #f8d547;
	text-decoration:none;
}

.rewardcontainer{
	color: #fff;
	background-color: #f8d547;
	height:100%;
	padding-top: 10px;
}

.rewardcontainer a{ 
	color: #fff;
}

.rewardcontainer a:hover{
	color: #006666;
	text-decoration:none;
}

.userbox{
	margin-top: 30px;
	min-height: 50px;
	background-color: #fff;
	color: #006666;
	text-align: center;
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.userbox a {
	color: #f8d547;
}

.userbox a:hover{
	color: #006666;
}


.listheader{
	border-radius:3px;
	padding:3px;
	margin-top: 5px;
	margin-bottom: 5px;
}



.listitem{
	background-color: #fff;
	color: #006666;
	border-radius: 3px;
	padding: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.listitem a{
	background-color: #fff;
	color: #006666;
}

.rewarditem{
	background-color: #fff;
	color: #f8d547;
	border-radius: 3px;
	padding: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.unavailable{
	color: #ccc;
}

.listcontrols .btn{
	color: #006666;
	border: none;
	padding: none;
	font-size: 1em;
}

.listcontrols .btn:hover{
	color: #f8d547;
	background-color: #fff;
}

.listaddbtn {	
	width: 70px; 
	height: 50px; 
	text-align: center; 
	font-size: 2.5em;
	color: #006666;
}

.listaddtitle {
	color: #006666;
	font-size: 1em;
}

.listaddvalue {
	width: 160px;
	height: 50px;
	text-align: center;
	color: #f8d547;
	font-size: 2.5em;
}

.valupdate {
	font-size: 1em;
	color: #f8d547;
	text-align:right;
	width: 75px;
	height: 75px;
}

.rewardcontrols .btn{
	color: #f8d547;
	border: none;
	padding: none;
	font-size: 1em;
}

.rewardcontrols .btn:hover{
	color: #006666;
	background-color: #fff;
}

.rewardaddbtn {	
	width: 70px; 
	height: 50px; 
	text-align: center; 
	font-size: 2.5em;
	color: #f8d547;
}

.rewardaddtitle {
	color: #f8d547;
	font-size: 1em;
}

.rewardaddcost {
	width: 160px;
	height: 50px;
	text-align: center;
	color: #006666;
	font-size: 2.5em;
}

.costupdate {
	font-size: 1em;
	color: #006666;
	text-align:right;
	width: 75px;
	height: 75px;
}

.footer {
	height: 80px;
}
