<!DOCTYPE html>
<html style="height: 100%">
	<head>
		<title>List and Reward</title>
		<!-- bootstrap for later use -->
		<meta charset="utf-8">
	<!-- 	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}"> -->
		<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
		<!-- inclue own CSS AFTER bootstrap to add overrides -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
	</head>

	<body class="{{ containerclass }}">
		<div style="position:absolute; height: 100%; width: 100%; top: 0%; left:0%;">
			<div style="height: 15%">
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div style="text-align: center"> 
					<span style="font-size: 10em">list & reward</span><br/>
					<span style="font-size: 1.5em">the <span style="color: #006666">minimal</span> and <span style="color: #f8d547">motivational</span> task list</span>
				</div>
				<div style="text-align: center">
					<span style="font-size: 2em"><a href="#" id="loginclick">sign in</a> <span style="font-size: .7em">or</span> <a href="#" id="regclick">register</a></span>
				</div>
			</div>

			<div class="col-md-12 col-sm-12 col-xs-12">
			<!-- Login/Registration Forms -->
				<div class="col-md-5 col-sm-2 col-xs-2"></div>
				<div class="col-md-2 col-sm-8 col-xs-8 loginform" style="margin-bottom:20px">
					
					{% if regform.username.errors or regform.password.errors %}
					<form id="loginform" role="form" action="{{url_for('login')}}" method="POST" style="display: none">
					{% else %}
				 	<form id="loginform" role="form" action="{{url_for('login')}}" method="POST";>
				 	{% endif %}	
				 		<h2>Sign In </h2>
				 		{{ loginform.csrf_token }}
				 		<p>{{ loginform.username.label }}</p>
				 		<p class="logininput">{{ loginform.username(placeholder="Username") }}</p>
				 		<p>{{ loginform.password.label }}</p>
				 		<p class="logininput">{{ loginform.password(placeholder="Password") }}</p>
				 		{% if loginform.username.errors %}
					 		{% for error in loginform.username.errors %}
					 		<span style="color: #006666">{{ error }}</span><br/>
					 		{% endfor %}
					 		{% elif loginform.password.errors %}
					 		{% for error in loginform.password.errors %}
					 		<span style="color: #006666">{{ error }}</span><br/>
					 		{% endfor %}
				 		{% endif %}

				 		<button type="submit" form="loginform" class='btn btn-default'>Submit</button>
					</form>
					{% if regform.username.errors or regform.email.errors or regform.password.errors %}
					<form id="regform" role="form" action="{{url_for('register')}}" method="POST">
					{% else %}
					<form id="regform" role="form" action="{{url_for('register')}}" method="POST" style="display: none">
					{% endif %}
				 		<h2>Register</h2>
				 		{{ regform.csrf_token }}
				 		<p>{{ regform.username.label }}</p>
				 		<p class="logininput">{{ regform.username(placeholder="Username") }}</p>
				 		{% for error in regform.username.errors %}
						<span style="color: #006666">{{ error }}</span>
						{% endfor %}
						<p>{{ regform.email.label }}</p>
						<p class="logininput">{{ regform.email(placeholder="Email Address") }}</p>
						{% for error in regform.email.errors %}
						<span style="color: #006666">{{ error }}</span>
						{% endfor %}
				 		<p>{{ regform.password.label }}</p>
				 		<p class="logininput">{{ regform.password(placeholder="Password") }}</p>
						{% for error in regform.password.errors %}
						<span style="color: #006666">{{ error }}</span>
						{% endfor %}
				 		<p>{{ regform.verify.label }}</p>
				 		<p class="logininput">{{ regform.verify(placeholder="Confirm Password") }}</p>
				 		<button type="submit" form="regform" class='btn btn-default'>Submit</button>
					</form>
				</div>


 			<div class="col-md-5 col-sm-2 col-xs-2"></div>
			</div>
			

<!-- 			<div class="col-md-6 col-sm-6 col-xs-6 text-center">
				<p>Complete your tasks...</p>
			</div>
			<div class="col md-6 col-sm-6 col-xs-6 text-center">
				<p>then treat yourself!</p>
			</div> -->


		</div>
	</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>

