<!DOCTYPE html>
<html style="height: 100%">
	<head>
		<title>List and Reward</title>
		
		<!-- bootstrap for later use -->
		<meta charset="utf-8">
	<!-- 	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}"> -->
		<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
		<!-- inclue own CSS AFTER bootstrap to add overrides -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
	</head>

	<body class="{{ containerclass }}" style="height: 100%">
		<div class="container-fluid" style="height: 100%">
			<header class="header">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-sm-8 col-xs-8 logo">
								<a href="{{ url_for('tasks') }}">list</a> <a href="{{ url_for('home') }}"><span style="font-size: 1.5em">&</span></a> <a href="{{ url_for('rewards') }}">reward</a>
							</div>

							<div class="col-md-2 col-sm-1 col-xs-1">
							</div>
							<div class="col-md-2 col-sm-3 col-xs-3">
								<div class="userbox">
									{% if 'userid' in session %}
										<p style="font-size: 1.2em">Hi, {{ username }}!</p>
										<p>You have<br/>
										<span style="font-size: 2.5em; color: #f8d547">{{ points }}</span><br/>
										points.<br/>
										<a href="{{ url_for('logout') }}">(sign out)</a></p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
			</header>


			<div class="container" style=" min-height: 65%">
				{% block content %}
				{% endblock %}

				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<ul class=flashes>
							{% for message in messages %}
							<li> {{ message }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endwith %}

			</div>
			
			<div class="container">
				{% include "footer.html" %}
			</div>
		</div>
	</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>

