<!DOCTYPE html>
<html>
	<head>
		<title>List and Reward</title>
		
		<!-- bootstrap for later use -->
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
		<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap-min.css')}}">
		<!-- inclue own CSS AFTER bootstrap to add overrides -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
	</head>
	
	<body>
		<header>
			<div class="container">
				<h1 class="title">List <span class="smaller">and</span> Reward</h1>
				<nav class="navbar navbar-default" role ="navigation">
					<ul class ="nav navbar-nav">
						<li><a href="{{ url_for('home') }}">Home</a></li>
						{% if session %}
						<li><a href="{{ url_for('tasks') }}">Tasks</a></li>
						<li><a href="{{ url_for('rewards') }}">Rewards</a></li>
						{% endif %}
						<li><a href="{{ url_for('about') }}">About</a></li>
					</ul>
					<ul class = "nav navbar-nav navbar-right">
					{% if session['userid'] %}
						<li><a href="{{ url_for('logout') }}">Sign Out</a></li>
						{% else %}
						<li><a href="{{ url_for('login') }}">Sign In</a></li>
						{% endif %}
					</ul>
				</nav>
			{% include "scoreboard.html" %}
			</div>
		</header>


		<div class="container maincontainer ">
			{% block content %}
			{% endblock %}

			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul class=flashes>
						{% for message in messages %}
						<li> {{ message }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}

		</div>
	
	</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>

